<img src="assets/image/wave-top.svg" alt="" class="w-100 img-about mt-5">
<section class="flex">
  <img src="assets/image/Learning.gif" alt="" class="animated-img">

  <div class="text-white">
    <h6 style="color: orange;">لية تختارنا</h6>
    <h3 style="font-weight: 700;">أعرف عننا أكتر</h3>
    <p style="opacity: 0.75;" class="my-5">كتير منكم عنده تخوفات من التعليم الأونلاين لكن بنوعدك في منصتنا هتلاقي فريق
      العمل و كل مدرسينك جنبك
      دايماً</p>
    <p class="flex gap-3"><img src="assets/image/why-1.svg" alt=""><span>هنحل كم لا نهائي من الاسئلة</span></p>
    <p class="flex gap-3"><img src="assets/image/why-2.svg" alt=""><span>هتوفر وقت كبير جداً وتثتمرة في المذاكرة</span>
    </p>
    <p class="flex gap-3"><img src="assets/image/why-3.svg" alt=""><span>هتلاقي متابعة مستمرة مش هتحس انك لوحدك</span>
    </p>
  </div>
</section>
<img src="assets/image/wave-top.svg" alt="" class="w-100 img-about mb-5 fa-rotate-180">
