<svg viewBox="0 0 500 120" class=" fa-rotate-180 img-about">
  <path d="M 0 50 C 150 150 300 0 500 80 L 500 0 L 0 0" fill="#2d2d2d"></path>
  <path d="M 0 50 C 150 150 330 -60 500 50 L 500 0 L 0 0" fill="#2d2d2d" opacity="0.8"></path>
  <path d="M 0 50 C 215 150 250 0 500 100 L 500 0 L 0 0" fill="#2D2d2d" opacity="0.5"></path>
</svg>
<section class="flex">
  <img src="assets/image/Learning.gif" alt="" class="animated-img">

  <div class="text-white">
    <h6 style="color: orange;">لية تختارنا</h6>
    <h3 style="font-weight: 700;">أعرف عننا أكتر</h3>
    <p style="opacity: 0.75;" class="my-5">كتير منكم عنده تخوفات من التعليم الأونلاين لكن بنوعدك في منصتنا هتلاقي فريق
      العمل و كل مدرسينك جنبك
      دايماً</p>
    <p class="flex gap-3"><img src="assets/image/why-1.svg" alt=""><span>هنحل كم لا نهائي من الاسئلة</span></p>
    <p class="flex gap-3"><img src="assets/image/why-2.svg" alt=""><span>هتوفر وقت كبير جداً وتثتمرة في المذاكرة</span>
    </p>
    <p class="flex gap-3"><img src="assets/image/why-3.svg" alt=""><span>هتلاقي متابعة مستمرة مش هتحس انك لوحدك</span>
    </p>
  </div>
</section>
<svg viewBox="0 0 500 120" class="img-about">
  <path d="M 0 50 C 150 150 300 0 500 80 L 500 0 L 0 0" fill="#2d2d2d"></path>
  <path d="M 0 50 C 150 150 330 -60 500 50 L 500 0 L 0 0" fill="#2d2d2d" opacity="0.8"></path>
  <path d="M 0 50 C 215 150 250 0 500 100 L 500 0 L 0 0" fill="#2D2d2d" opacity="0.5"></path>
</svg>
