.ltr {
  direction: ltr;
}
.ltr input{
  direction: rtl;
}

h1,h3{
  font-weight:700;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    var(--bgHeader),
    rgba(0, 0, 0, 0)
  );
}

mat-label {
  color: var(--bgHeader) !important;
}
::ng-deep .mdc-notched-outline__leading {
  border-color: var(--bgHeader) !important;
}
::ng-deep .mdc-notched-outline__notch {
  border-color: var(--bgHeader) !important;
}
::ng-deep .mdc-notched-outline__trailing {
  border-color: var(--bgHeader) !important;
}
mat-form-field {
  width: 500px;
}
