<div style="max-height: 100vh;">
    <nav class="navImg">
        <div class="navDiv" style="width: 100%;height: 100px;position: relative;" >
            <div style="position: absolute;top: 60%;left: 45%;">
                <h2 style="color: white;"> تسجيل الدخول</h2>
            </div>
            <div class="" style="position: absolute; top: 20px;left: 250px;">
                <i class="fa-solid fa-star-of-life fa-spin slow-spin" style="font-size: 25px;color:rgba(255, 132, 0, 0.667);"></i>
            </div>
            <div class="" style="position: absolute; top: 80px;left: 180px;">
                <i class="fa-solid fa-star-of-life fa-spin slow-spin" style="font-size: 25px;color:rgb(180, 180, 180);"></i>
            </div>

            <div class="" style="position: absolute; top: 50px;left: 450px;">
                <i class="fa-solid fa-braille" style="font-size: 35px;color:rgba(180, 180, 180, 0.649);"></i>
            </div>
    
            <div class="slow-cloudLeft" style="position: absolute; top: 40px;">
                <img src="assets\image\cloud-1.AphNZpYm.svg">
            </div>
            <div class="hidde">
                <div class="slow-cloud" style="position: absolute; top: 10px;right:0px;">
                    <img src="assets\image\cloud-3.imrtNh-m.svg">
                </div>
            </div>
           
            <img src="assets\image\wave-bottom-blue.q00BsZDG .svg" style="padding-top: 90px;">
        </div>
    </nav>
    <div class="container d-flex justify-content-center mt-4" dir="rtl">
        <div class="col-md-7 border border-gray rounded-4 px-4" style="margin-top: 150px;box-shadow: 0px 0px 20px whitesmoke;margin-bottom: 60px;">
            <div class="text-center mt-5">
                <h2 class="text-second mb-4" style="color: rgb(255, 133, 0);"> تسجيل الدخول</h2>
                <h3 class="mb-6 text-main font-24-bold" style="color: rgb(32, 26, 217);"> داخل علي حسابك بادخال رقم الهاتف وكلمة المرور المسجل بهم من قبل</h3>
            </div>
    
    
         <form class="form-floating" action="" method="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="row mt-5">
                <div class="col">
                    <label class="d-block font-18-medium mb-3" for="studentPhoneNumber">رقم تليفون الطالب</label>
                    <input type="text" name="studentPhoneNumber" formControlName="studentPhoneNumber" class="form-control mt-3" style="width: 100%;" id="studentPhoneNumber" placeholder="رقم الموبايل" aria-label="رقم تليفون الطالب" required >
                   
                    <div *ngIf="studentPhoneNumber?.touched ||studentPhoneNumber?.errors?.['pattern']">
                        <p *ngIf="studentPhoneNumber?.errors?.['pattern']" class="text-danger">رقم الهاتف يجب ان يكون من 11 رقم يبدء 010أو011أو012أو015</p>
                        <p *ngIf="studentPhoneNumber?.errors?.['required']" class="text-danger"> رقم الهاتف مطلوب </p>
                      </div>
                </div>
            </div>
           
    
            <div class="row mt-3">
                <div class="col">
                    <label class="d-block font-18-medium mb-3" for="password">كلمة السر</label>
                    <input type="password" name="password" formControlName="password" class="form-control  mt-3" style="width: 100%;" id="password" placeholder="كلمة السر" aria-label="كلمة السر" required >
                  
                    <div *ngIf="password?.touched ">
                        <p *ngIf="password?.errors?.['required']" class="text-danger"> كلمة المرور مطلوبة</p>
                        <p *ngIf="password?.errors?.['minlength']" class="text-danger"> كلمةالمرور يجب ان تكون أكثر من 8 أحرف</p>
                      </div>
                </div>
                </div>
            
         <div class="d-grid gap-2 text-center mt-3 mb-5">
            <button class="btn btn-primary rounded-5" type="submit" style="height: 55px; background-color: rgb(32, 26, 217);font-size: 18px;font-weight: 500;"> تسجيل الدخول</button>
            <p>لا يوجد لديك حساب؟<a [routerLink]="['/signup']" class="ms-1 text-second text-decoration-none" style="color: rgb(255, 133, 0);"> انشئ حسابك الآن</a></p>
            <p>هل نسيت كلمة المرور؟<a [routerLink]="['/signup']" class="ms-1 text-second text-decoration-none" style="color: rgb(255, 133, 0);">استعادة كلمة المرور</a></p>
          </div>
         </form>
        </div>
    
    </div>
    <footer class="footImg col" style="width: 100%;">
        <div>
            <img src="assets\image\wave-top.kvwTliOj.svg" >
        </div>
    </footer>
</div>

