<section>
  <div class="text-center flex justify-content-between flex-column">
    <h6 style="color: orange;">تعرف علي</h6>
    <h3 style="color:var(--btn); font-weight: 700;">أحدث الحصص</h3>

    <div class="custom-checkbox-container flex gap-3 my-3">
      <button mat-button *ngFor="let option of options; let i = index" class="custom-checkbox custom-button"
        [class.checked]="option.selected" (click)="toggleOption(i)">
        <span>{{ option.label }}</span>
      </button>
    </div>
  </div>
  <div class="flex flex-wrap">
    <ng-container *ngFor="let course of filteredCourses">
      <app-course-card [course]="course" [@fadeInOut]></app-course-card>
    </ng-container>
  </div>
</section>
