<svg viewBox="0 0 500 100" class="fa-rotate-180">
  <path d="M 0 50 C 150 150 300 0 500 80 L 500 0 L 0 0" fill="#2d2d2d"></path>
  <path d="M 0 50 C 150 150 330 -60 500 50 L 500 0 L 0 0" fill="#2d2d2d" opacity="0.8"></path>
  <path d="M 0 50 C 215 150 250 0 500 100 L 500 0 L 0 0" fill="#2D2d2d" opacity="0.5"></path>
</svg>

<section class="flex">

  <div class="text-white">
    <h6 style="color: orange;">لسة محتار</h6>
    <h3 style=" font-weight: 700;">هنجاوبك هنا علي كل أسئلتك</h3>
    <p style="opacity: 0.75;">في الجزء ده جمعنالكم كل الأسئلة اللي بتيجي في بالكم بخصوص الأكادمية و الكورسات الموجودة
      فيها</p>
    <div class="d-flex btn-container gap-3 my-5">
      <button class="custom-button">تواصل مع فريق الدعم</button>
      <button class="custom-button">المزيد من الأسئلة</button>
    </div>
  </div>
  <img src="assets/image/Questions.gif" alt="" class="animated-img">

</section>
<svg viewBox="0 0 500 100">
  <path d="M 0 50 C 150 150 300 0 500 80 L 500 0 L 0 0" fill="#2d2d2d"></path>
  <path d="M 0 50 C 150 150 330 -60 500 50 L 500 0 L 0 0" fill="#2d2d2d" opacity="0.8"></path>
  <path d="M 0 50 C 215 150 250 0 500 100 L 500 0 L 0 0" fill="#2D2d2d" opacity="0.5"></path>
</svg>
